In [26]:
a= 10

In [27]:
a

10

In [28]:
a = 20

In [29]:
a

20

In [30]:
type(a)

int

In [31]:
b = "yfdghf"

In [32]:
type(b)

str

In [33]:
c = 'sudh'

In [34]:
c

'sudh'

In [35]:
b

'yfdghf'

In [36]:
type(c)

str

In [37]:
a = 10 
b = 20
a+b

30

In [38]:
a*b

200

In [39]:
a**b

100000000000000000000

In [40]:
f = 45.67

In [41]:
type(f)

float

In [42]:
c = 7+8j

In [43]:
type(c)

complex

In [44]:
c

(7+8j)

In [45]:
c.real

7.0

In [46]:
c.imag

8.0

In [47]:
s = "sudh"

In [48]:
1 + 1

2

In [49]:
'laila ' + 'luba'

'laila luba'

In [50]:
1 + "sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
"1" + "sudh" #concatenation operation

'1sudh'

In [52]:
str(1)+"sudh" #typecasting

'1sudh'

# String slicing operations

In [53]:
s = "Afser Jani Rabby"

In [54]:
s

'Afser Jani Rabby'

In [55]:
s[0]

'A'

In [56]:
s[8]

'n'

In [57]:
s[90] #Error because string index is out of range

IndexError: string index out of range

In [58]:
s[-2]

'b'

In [59]:
s[0:3] #exclude upperbound

'Afs'

In [60]:
s[5:90] #Will print from index 5 to till the end

' Jani Rabby'

In [61]:
s[0:10:2] #[start:end:jump]

'AsrJn'

In [62]:
s[::2] #start from 0, go till end with jump 2

'AsrJn ab'

In [63]:
s[::3]

'AeJiay'

In [64]:
s[::2]

'AsrJn ab'

In [65]:
s[0::-1]

'A'

In [66]:
s[::-1]

'ybbaR inaJ resfA'

In [67]:
s[5:10:-1]

''

In [68]:
s[0:10:-1]

''

In [69]:
s[5:1:1]

''

In [70]:
s[5:1:-1]

' res'

In [71]:
s[::-1]

'ybbaR inaJ resfA'

In [72]:
s

'Afser Jani Rabby'

In [73]:
s[5:1:-1]

' res'

In [74]:
s[5:-1:-1]

''

In [75]:
s= "dsfsafsafdsafdsa fdsa dsafdsa dsfdsa fsadfsa fdsafd safdsaf sadfsaf sadsaf safdsa safdsf dsfd safdsaf safdsaf sdf safsad"

In [76]:
s

'dsfsafsafdsafdsa fdsa dsafdsa dsfdsa fsadfsa fdsafd safdsaf sadfsaf sadsaf safdsa safdsf dsfd safdsaf safdsaf sdf safsad'

In [77]:
len(s)

120

In [78]:
1 + 1

2

In [79]:
"sudh" + " sudh "

'sudh sudh '

In [80]:
3*10

30

In [81]:
"Afser   " * 10

'Afser   Afser   Afser   Afser   Afser   Afser   Afser   Afser   Afser   Afser   '

In [82]:
4/6

0.6666666666666666

In [83]:
"afser" / 6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [84]:
b= True

In [85]:
type(b)

bool

In [86]:
v = False

In [87]:
type(v)

bool

In [88]:
True - True

0

In [89]:
True - False

1

In [90]:
True * True

1

In [91]:
True /True

1.0

In [92]:
True /False

ZeroDivisionError: division by zero

In [93]:
1/0

ZeroDivisionError: division by zero

# LIST

In [94]:
sudh = [1,2,3,4,5]

In [95]:
a = 10

In [96]:
l = ["sudh" ,45,54,454,5,4, 45.67,67,5+7j,"fsdf","fdsfsf" , [1,2,3,3,4],'afser']

In [97]:
type(l)

list

In [98]:
l[0]

'sudh'

In [99]:
l[100]

IndexError: list index out of range

In [100]:
l[-1]

'afser'

In [101]:
l[0:4]

['sudh', 45, 54, 454]

In [102]:
l

['sudh',
 45,
 54,
 454,
 5,
 4,
 45.67,
 67,
 (5+7j),
 'fsdf',
 'fdsfsf',
 [1, 2, 3, 3, 4],
 'afser']

In [103]:
l[::-1]

['afser',
 [1, 2, 3, 3, 4],
 'fdsfsf',
 'fsdf',
 (5+7j),
 67,
 45.67,
 4,
 5,
 454,
 54,
 45,
 'sudh']

In [104]:
l[5:0:1]

[]

In [105]:
l[5:10 :-1]

[]

In [106]:
l[-2:-5:1]

[]

In [107]:
l[-2:-5:-1]

[[1, 2, 3, 3, 4], 'fdsfsf', 'fsdf']

In [108]:
l

['sudh',
 45,
 54,
 454,
 5,
 4,
 45.67,
 67,
 (5+7j),
 'fsdf',
 'fdsfsf',
 [1, 2, 3, 3, 4],
 'afser']

In [109]:
l[0][::-1]

'hdus'

In [110]:
l[-2][::-1]

[4, 3, 3, 2, 1]

In [111]:
l[-5]

(5+7j)

In [112]:
l

['sudh',
 45,
 54,
 454,
 5,
 4,
 45.67,
 67,
 (5+7j),
 'fsdf',
 'fdsfsf',
 [1, 2, 3, 3, 4],
 'afser']

In [113]:
l[1][::-1]

TypeError: 'int' object is not subscriptable

In [114]:
a = [1,2,3,4]

In [115]:
b = [9,8,7,6]

In [116]:
a+b

[1, 2, 3, 4, 9, 8, 7, 6]

In [117]:
list("sudh") #typecasting

['s', 'u', 'd', 'h']

In [118]:
a+list('sudh')

[1, 2, 3, 4, 's', 'u', 'd', 'h']

In [119]:
"a" + ("sudh") #concatenation

'asudh'

In [120]:
a

[1, 2, 3, 4]

In [121]:
a*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [122]:
list(range(10)) #typecasting

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list(range(4, 20)) #upperbound is excluded

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
list(range(2 , 20 , 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [125]:
list(range(-3,-13,1))

[]

In [126]:
list(range(-3,-13 , -1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [127]:
list(range(-13,3,-1))

[]

In [128]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [129]:
a = 10 
b = 20
a+b

30

In [130]:
a = int(input("enter the value of a ")) #here the type of the input value will always be string
b = int(input("enter the value of b "))

enter the value of a

ValueError: invalid literal for int() with base 10: ''

In [131]:
a+b

30

In [132]:
type(a)
type(b)

int

In [133]:
a+b

30

In [134]:
a = int(input())
b = input()
print(type(a))
print(type(b))

ValueError: invalid literal for int() with base 10: ''

In [135]:
a = 10 
b = 20 
c = "sudh"
d = [1,2,3,4]

In [136]:
a,b,c,d=10,20,"sudh",[1,2,3,4]

In [137]:
d

[1, 2, 3, 4]

In [138]:
c

'sudh'

In [ ]:
a=(48.6,[1,2,3],'asd',1,2,3)

In [ ]:
l = [1,2,3,4,"sudh" , "dsfds" , 45.7]

In [ ]:
type(a)

In [ ]:
type(l)

In [ ]:
a[0:3] #in tuple upperbound is excluded

In [ ]:
l[0:5]

In [ ]:
a[::-1]

In [ ]:
a

In [ ]:
l

In [ ]:
a

In [ ]:
l[0]  = "afser"

In [ ]:
l

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[0] = "afser" #'tuple' object does not support item assignment

In [ ]:
a

In [ ]:
list(a)

In [ ]:
tuple(l)

In [ ]:
a = (3,4,5,6)

In [ ]:
s = "kumao"

In [ ]:
s[0]

In [ ]:
s[-1] = "r" #'str' object does not support item assignment

In [ ]:
a(::-1)

In [ ]:
a[::-1]

In [ ]:
UserInput=[]

for n in range (3):
  value=int(input())
  UserInput.append(value)
    
print(UserInput)

In [ ]:
a = 10 

if a :
    print("this is a value of a ")

In [ ]:
a = 10 
if a < 20:
    print("test")

In [ ]:
a < 20

In [ ]:
a = 10 
if a < 20:
    pass

In [ ]:
a = int(input('Enter a number: '))
if a <= 20:
    print("True")
else:print('False')

In [ ]:
a = 10 
if a == 30 :
    print("this is my alternate statement")
elif type(a) == int: 
    print(" i am checking a type of var")
elif a < 20 :
    print("print form elif")
else :
    print("print this statement ")

In [ ]:
type(a) == int

In [ ]:
Discount = int(input())
if Discount == 50 :
    print("you can buy all the items listed in row one ")
elif Discount == 30 :
    print("you can buy all the items from row no 2 ")
elif Discount == 20 :
    print("send user to row no 3 ")
elif Discount > 10 :
    print("send him to 4th row ")
else :
    print("there is no item available ")

In [ ]:
income = int(input())
if income > 1000:
    print("you can get a platinum card ")
    if income > 2000:
        print("you will be able to get another facilities ")
        if income > 2200 :
            print("you will be able to get a discount in services ")
        elif income > 2300:
            print("you will be able to get air ticket ")
        else :
            print("there is no option available ")
    elif income < 1500:
        print("you wont be able to get another things ")
    else :
        print(" no option ")
    
elif income >800:
    print("you will be able to get gold card ")
else :
    print("you won't be able to get any card ")

In [ ]:
val = int(input())
if val == 10 :
    print("this is 10 ")

In [ ]:
l = [2,3,4,5,6,1,2,3,3]
l

In [ ]:
for i in l :
    print(i)

In [ ]:
l = ["sudh" , [1,2,3,4,5] , (2,3,4,5,6) , 56,67,6+7j , True , 45.67, "kumar"]
for i in l :
    print(i)

In [ ]:
for i in l :
    if type(i)==str:
        print(i)

In [ ]:
l = ["sudh" , [1,2,3,4,5] , (2,3,4,5,6) , 56,67,6+7j , True , 45.67, "kumar"]

In [ ]:
for i in l:
    if type(i)==str:
        print(i[::-1])

In [ ]:
s = "sudh kumar"

for i in s :
    print(i)

In [ ]:
t = (3,4,5,6,7)
for i in t :
    print(i)

In [ ]:
tuple(range(10))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
l = ["hello",[2,3,3],"str", 45.7, 45+i, True , (2,3,4)]
for n in l:
    if type(n) == list:
        print(n)

In [ ]:
a = 103454
for i in str(a) :
    print(i)

In [ ]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]
for i in li:
    if type(i) == list or type(i)==tuple or type(i)==str:
        print(i)
    else: print("this is not possible")

In [ ]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]

for i in li :
    if type(i) == list or type(i) == tuple :
        print(i)
        for j in i:
            print(j)

# Stars

In [ ]:
n=5
for j in range(n):
    for i in range(n):
        print('*', end=' ')
    print()

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print('*', end="   ")
    print( )

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ', end="*")
    print( )

In [ ]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*", end=' ')
    print()

In [ ]:
n=10
for i in range(n):
    for j in range(i,n):
        print(" ", end=' ')
    for j in range(i+1):
        print(' ', end="*")
    print( )

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ", end=' ')
    for j in range(i,n):
        print('*', end=" ")
    print( )

In [ ]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*", end=' ')
    for j in range(i):
        print(" ", end=' ')
    for j in range(i):
        print(" ", end=' ')
    for j in range(i,n):
        print('*', end=" ")
    print()

In [ ]:
 n = int(input())
star = 1
space = n-1

for i in range(2*n+1):
    if i<n:
        for j in range(space):
            print("", end = " ")
        for j in range(star):
            print("*", end = " ")
        space = space-1
        star = star + 1
        print()
    elif i==n:
        space = space + 1 
        star = star - 1
    else:
        space = space + 1 
        star = star - 1
        for j in range(space):
            print("", end = " ")
        for j in range(star):
            print("*", end = " ")
        
        print()

In [ ]:
l = [[1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
x = []
for i in l:
    if type(i)== list:
        for j in i:
            if j not in x:
                x.append(j)
                print("the count of ",j," is ",i.count(j))
            else:
                x.append(j)

In [ ]:
First_Solutionn = int(input("Enter a no."))

for i in range(0,n):
    print(" "*(n-i),". "* i," "*(n-i))
for i in range(n-2,0,-1):
    print(" "*(n-i),". "* i," "*(n-i))

In [ ]:
from collections import Counter
a=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
check={}
for i in a:
    if type(i)==list:
        b=Counter(i)
        print(b)

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
        print(".", end="")
    print("")
    
for ii in range(n,0,-1):
    jj=ii
    for jj in range(jj-1,0,-1):
        print(".", end="")
    print("")

In [ ]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in l:
    if type(i)==list:
        for j in range(len(i)):
            if i.count(i[j])>1: 
                print("count of {} is {}".format(i[j],i.count(i[j])))

In [ ]:
lst = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
a = 1
for i in lst:
    for j in i:
        if i.count(j) >=2:
            print(" occurence of {} in list {} is {}".format(j,a,i.count(j)))
    a +=1

In [ ]:
s = "happy"
for i in range(len(s)):
    print(s[i] , i)

In [ ]:
income=int(input ())

if income>1000:
    print ('you can get a platinum card')
elif income >800:
    print("you can get a gold card")
else :
    print("you will not get a card")

In [ ]:

if income>1000:
    print ('you can get a platinum card')

In [ ]:

if income>1000:
    print ('you can get a platinum card')

In [ ]:
l = [7, "sudh"]
j=(1,2,3,4)
for i in range(len(l)) :
    if type(i)==int :
        l.insert(0,j)

In [ ]:
l=[6,"aa"]
j=(1,2,3,4)
for i in l:
    l[0]=j
print(l)

In [ ]:
l

In [ ]:
j=(1,2,3,4)
l.insert(0,j)

In [ ]:
l

In [ ]:
l = [3,4,5,6,7,8]
l[3:1]

In [ ]:
l[3:-1]

In [ ]:
n=int(input())
for i in range(0,n):
    for j in range(n+1):
        print(".", end="")
    print("")
for i in range(n-2,-1):
     for j in range(n-1):
        print(".",end="")
     print("")

In [ ]:
l = [7,'sudh']
j = (1,2,3,4)
for i in range(len(l)):
    if l[i]== int:
        l[i]=j
l

In [ ]:
l = [7,'sudh']
j =(1,2,3,4)
for i in l:
    if type(i) == int:
        l[l.index(i)]=j
l

In [ ]:
l = [7,'sudh']
j = (1,2,3,4)
for i in range(len(l)):
    if type(l[i])== int:
        l[i]=j
l

In [ ]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
a=[]
for i in l:
    for j in i:
        if j not in a and i.count(i[j])>1:
            a.append(j)
            print("the count of",j,"is",i.count(j))
        else:
            a.append(j)

In [ ]:
for i in l:
    for j in i:
        if i.count(j)>1:
            print(j,"is",i.count(j),"times")

In [ ]:
l

In [ ]:
l

In [ ]:
l1 = [1,2,3,45 , "sudh" , "kumar " , "fdsfsf"]
for i in range(len(l1)):
    if type(l1[i]) == str:
        print(l1[i] , i)

In [ ]:
l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]

for i in l:
    print(i)
    for j in i:
        print(j)

In [ ]:
Discount = int(input ())
if Discount == 50 :
    print ("you can buy all the items listed in row 1")
elif Discount == 30:
    print ("you can buy all the items from row 2")
elif Discount == 20:
    print ("send user to row 3")
elif Discount >10:
    print ("send user to row 4")
else :
    print ("there is no item")

In [ ]:
n = int(input())
for i in range(0,n):
    for t in range(i+1):
        print("!", end = "")
    print(" ")
for t in range(i-1):
        print("!", end = "")
        print(" ")