In [1]:
t = (1,2,2,5,6,7,"sudh" , "ineuron")

In [2]:
type(t)

tuple

In [2]:
a = ['tuple','dict','try']
b = [2.3,4.5,6.7]
c = [1,2,3]
d = [True, False, True]

In [3]:
tuple1 = (a,b,c,d)
print(tuple1)

(['tuple', 'dict', 'try'], [2.3, 4.5, 6.7], [1, 2, 3], [True, False, True])

In [3]:
t[0]

1

In [4]:
t[0:4]

(1, 2, 2, 5)

In [5]:
t.count(2)

2

In [46]:
t.find(7)

AttributeError: 'tuple' object has no attribute 'find'

In [47]:
t.count("sudh") #IN STRING count function is same as tuple

1

In [48]:
t.count("Sudh")

0

In [49]:
t.index("sudh")  #in string we use find instead of index

6

In [6]:
t

(1, 2, 2, 5, 6, 7, 'sudh', 'ineuron')

In [50]:
t.index(2)

1

In [52]:
t.remove('sudh') #tuple has no remove option but list does

AttributeError: 'tuple' object has no attribute 'remove'

In [7]:
del(t)

In [8]:
t

NameError: name 't' is not defined

# set

In [27]:
list1=[]
list1.append('AJR')

In [28]:
list1

['AJR']

In [29]:
s = set()

In [30]:
s.add(3)

In [31]:
s.add(5)

In [32]:
s.add("sudh")

In [33]:
s.add(3)  #In set multiple values are shown only once

In [34]:
s.add([1,2,3])

TypeError: unhashable type: 'list'

In [35]:
s

{3, 5, 'sudh'}

In [36]:
s1 = {3,4,5,6,7,8,8,9,9,9,"sudh", "Sudh"}

In [38]:
s1

{3, 4, 5, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [40]:
s2 = {3,4,5,6,7,8,8,9,9,9,"sudh", "Sudh",(1,2,4)}

In [42]:
s2

{(1, 2, 4), 3, 4, 5, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [48]:
l = [4,1,2,3,4,4,4,4,4,5,6,6,6,6,7,7,8,89,9 ,[1,2,3,4,5]]

In [44]:
set(l)

TypeError: unhashable type: 'list'

In [49]:
l

[4, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 6, 6, 6, 7, 7, 8, 89, 9, [1, 2, 3, 4, 5]]

In [50]:
s1 = set()
for i in l :
    if type(i) != list:
        s1.add(i)
        
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 89}

In [67]:
s1.remove(3)

In [68]:
s1

{1, 2, 4, 5, 6, 7, 8, 9, 89}

In [51]:
s1.remove(345)

KeyError: 345

In [52]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 89}

In [20]:
s1.index(9)

AttributeError: 'set' object has no attribute 'index'

In [53]:
s1.find(7)

AttributeError: 'set' object has no attribute 'find'

In [21]:
s1.count(3)

AttributeError: 'set' object has no attribute 'count'

In [55]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 89}

In [56]:
s1.discard(5)

In [57]:
s1

{1, 2, 3, 4, 6, 7, 8, 9, 89}

In [58]:
s1.discard(3454)

In [60]:
s1

{1, 2, 3, 4, 6, 7, 8, 9, 89}

In [61]:
x = {"ineuron" , "machinie" , "learning"}
y = {"stats" , "deep learning " , "computer vision" , "ineuron"}

In [62]:
type(x)

set

In [63]:
type(y)

set

In [65]:
y.difference(x)

{'computer vision', 'deep learning ', 'stats'}

In [66]:
x.difference(y)

{'learning', 'machinie'}

In [67]:
s

{3, 5, 'sudh'}

In [68]:
s[0] #'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [69]:
s[0:2]

TypeError: 'set' object is not subscriptable

In [81]:
s={'sudh',3,5,8, (1,2,3)}

In [84]:
for i in s :
    print(i)

3
5
8
sudh
(1, 2, 3)

In [85]:
list(s)

[3, 5, 8, 'sudh', (1, 2, 3)]

In [86]:
tuple(s)

(3, 5, 8, 'sudh', (1, 2, 3))

In [87]:
t=(1,2,3)
set(t)

{1, 2, 3}

In [89]:
l=[1,2,3,[1,2,3]]
set(l)

TypeError: unhashable type: 'list'

In [91]:
d = {"key" :"value"}

In [92]:
type(d)

dict

In [55]:
l = [1,2,3,4,5,6]

In [56]:
l[0]

1

In [93]:
d = {4 : "sudh" , 5:"kumar" , "k1" : "xyz" ,"k2" :[1,2,3,4,5] ,6 :(4,5,6,7,8)}

In [94]:
d = {4 : "sudh" , 5:"kumar" ,(4,5,6,7):"sfdsf",_:45,5:"xyz" ,4:"sdfjlkdsfjj",4:"zsdfsa"}

In [95]:
_ = 456546

In [76]:
type(_)

int

In [96]:
d

{4: 'zsdfsa', 5: 'xyz', (4, 5, 6, 7): 'sfdsf', dict: 45}

In [97]:
d1= {4:"sudh", 5:"kumar", (4,5,6,7):"sdf", _:45}

In [98]:
d1

{4: 'sudh', 5: 'kumar', (4, 5, 6, 7): 'sdf', 456546: 45}

In [106]:
d2 = {1: "sudh" , 2:"kumar" , 3 :["ML" , "DL" ,'oops' , "exception handling"] ,4:"sudh"}

In [107]:
d2

{1: 'sudh',
 2: 'kumar',
 3: ['ML', 'DL', 'oops', 'exception handling'],
 4: 'sudh'}

In [109]:
d2[1]

'sudh'

In [110]:
d2[3]

['ML', 'DL', 'oops', 'exception handling']

In [111]:
d2

{1: 'sudh',
 2: 'kumar',
 3: ['ML', 'DL', 'oops', 'exception handling'],
 4: 'sudh'}

In [112]:
d2[3]

['ML', 'DL', 'oops', 'exception handling']

In [117]:
d = {4 : "sudh" , 5:"kumar" ,(4,5,6,7):"sfdsf",_:45,5:"xyz" ,4:"sdfjlkdsfjj",4:"zsdfsa"}

In [118]:
d

{4: 'zsdfsa', 5: 'xyz', (4, 5, 6, 7): 'sfdsf', 456546: 45}

In [120]:
d[(4, 5, 6, 7)]

'sfdsf'

In [121]:
d = {"k1":"ineuron" , "k2": "ineuron"}

In [122]:
d["k2"]

'ineuron'

In [123]:
d = {"k1":"ineuron" , "k2": "ineuron",'k3':{1:"sudh" , 2:"kumar" , 3:"xyz"}}

In [124]:
d

{'k1': 'ineuron', 'k2': 'ineuron', 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'}}

In [125]:
d['k3']

{1: 'sudh', 2: 'kumar', 3: 'xyz'}

In [126]:
d['k3'][3]

'xyz'

In [127]:
d

{'k1': 'ineuron', 'k2': 'ineuron', 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'}}

In [128]:
d['k4'] = 345

In [129]:
d

{'k1': 'ineuron',
 'k2': 'ineuron',
 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'},
 'k4': 345}

In [130]:
d['k1'] = 'AJR'

In [131]:
d

{'k1': 'AJR',
 'k2': 'ineuron',
 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'},
 'k4': 345}

In [132]:
d

{'k1': 'AJR',
 'k2': 'ineuron',
 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'},
 'k4': 345}

In [8]:
for i in d :
    print(i)

k1
k2
k3
k4

In [133]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [136]:
d.values()

dict_values(['AJR', 'ineuron', {1: 'sudh', 2: 'kumar', 3: 'xyz'}, 345])

In [11]:
d.items()

dict_items([('k1', 'ssadfsadfsa'), ('k2', 'ineuron'), ('k3', {1: 'sudh', 2: 'kumar', 3: 'xyz'}), ('k4', 345)])

In [14]:
list(d.keys())[1]

'k2'

In [15]:
d

{'k1': 'ssadfsadfsa',
 'k2': 'ineuron',
 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'},
 'k4': 345}

In [22]:
for i in d.keys():
    if type(d[i]) == dict:
        print(d[i])
        print(d[i].values())
        print(d[i].keys())

{1: 'sudh', 2: 'kumar', 3: 'xyz'}
dict_values(['sudh', 'kumar', 'xyz'])
dict_keys([1, 2, 3])

In [114]:
d = {}
for i in range(11):
    d[i] = i**2

In [115]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [116]:
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [117]:
s = "ineuron"

{i:"ineruon" for i in s}

{'i': 'ineruon',
 'n': 'ineruon',
 'e': 'ineruon',
 'u': 'ineruon',
 'r': 'ineruon',
 'o': 'ineruon'}

In [123]:
d = {"ineuron" :{"a" : 23 , "b" : 34 , 'c':56},'course' :{'d' :45 , 'e' : 12} , "xyz" : 99}

In [124]:
max(d)

TypeError: 'int' object is not callable

In [125]:
d['ineuron']['c']

56

In [126]:
max = 0
for i in d.values():
    for j in i.values():
        if(max< j):
            max = j
            
print(max)

AttributeError: 'int' object has no attribute 'values'

In [122]:
d.values()

dict_values([{'a': 23, 'b': 34, 'c': 56}, {'d': 45, 'e': 12}])

In [128]:
d = {"ineuron":{"a":23, "b":34, "c":56}, 'course': {'d': 45, 'e':12}, 'e': [99], 'f':105}
lst = list()

for k,v in d.items():
    if type(v) == dict:
        lst.extend(list(v.values()))
    elif type(v) == int:
        lst.append(v)
    else:
        lst.extend(v)
print(max(lst))

TypeError: 'int' object is not callable

In [23]:
d = {"ineuron":{"a":23, "b":34, "c":56}, 'course': {'d': 45, 'e':12}}
max_val = 0
for i in d:
    if type(d[i]) == dict:
        c_vals = list(d[i].values())
        print(c_vals)
        for i in c_vals:
            if i > max_val:
                max_val = i
print(max_val)

[23, 34, 56]
[45, 12]
56

In [24]:
d = {"ineuron":{"a":23, "b":34, "c":56}, 'course': {'d': 45, 'e':12}, 'e': [99], 'f':105}

In [25]:
d={"ineuron":{"a":23,"b":34,"c":56},'course':{'d':45,'e':12},'xyz':99}
max=0
for j in d.values():
  if type(j)==dict:
    for k in j.values():
      if k > max:
        max=k
  else:
    if j > max:
      max=j

In [27]:
d={"ineuron":{"a":23,"b":34,"c":56},'course':{'d':45,'e':12},'xyz':99}
max = 0
for i in d:
    if type(i) == int or type(d[i].values)==int:
        if max < i:
            max = i        
    else:
        for j in i.values():
            if j > max:
                max = j
print(max)

AttributeError: 'str' object has no attribute 'values'

In [137]:
d9 = {"ineuron":{"a":23, "b":34, "c": 56},"course":{"d":45,"e":12},"xyz":99,"a":[1,2,3,4,5667,878],'s' :{3,4,5,6,35345353} , "f" : 435.454}
max = 0
for upper in d9.values():
    if type(upper) == int:
        if upper > max:
            max = upper
    elif type(upper) == dict:    
            for inner_value in upper.values():
                if inner_value > max:
                    max = inner_value
    else:
        for inner_value in upper:
                if inner_value > max:
                    max = inner_value
        
print(max)

TypeError: 'float' object is not iterable

In [139]:
d9 = {"ineuron":{"a":23, "b":34, "c": 56},"course":{"d":45,"e":12},"xyz":99,"a":[1,2,3,4,5667,878],"s":{3,4,5,6,6001},"f":455555.1 ,"b" :True}
max = 0
for upper in d9.values():
    if type(upper) == int or type(upper) == float:
        if upper > max:
            max = upper
    elif type(upper) == dict:    
            for inner_value in upper.values():
                if inner_value > max:
                    max = inner_value
    else:
        for inner_value in upper:
                if inner_value > max:
                    max = inner_value
        
print(max)

TypeError: 'bool' object is not iterable

In [141]:
d9 = {"ineuron":{"a":23, "b":34, "c": {'r' : 34535443545}},"course":{"d":45,"e":12},"xyz":99,"a":[1,2,3,4,5667,878],"s":{3,4,5,6,6001},"f":455555.1,"g":True}
max = 0
for upper in d9.values():
    if type(upper) == bool:
        continue
    elif type(upper) == int or type(upper) == float:
        if upper > max:
            max = upper
    elif type(upper) == dict:    
            for inner_value in upper.values():
                if inner_value > max:
                    max = inner_value
    else:
        for inner_value in upper:
                if inner_value > max:
                    max = inner_value
        
print(max)

TypeError: '>' not supported between instances of 'dict' and 'int'

In [142]:
l=[]
for i in d.keys():
    if type(d[i])==dict:
        l.append(max(d[i].values()))
    else:
        l.append(max(d[i]))
max(l)

TypeError: 'int' object is not callable