# Write a Python program to sum all the items in a list.

In [5]:
def sum_func(data):
    sum_list=0
    for i in data:
        sum_list=sum_list+i
    return sum_list

In [6]:
sum_func([1,2,3,4,5,6,7,8,9,10])

55

In [55]:
def sum_func(data):
    total_sum=sum(data)
    return total_sum
print(sum_func([1,2,3,4,5,6,7,8,9,10]))

55

# Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [58]:
def str_func(data):
    c=0
    for i in data:
        if (len(i)>1) and (i[0]==i[-1]):
            c=c+1
    return c

In [59]:
str_func(['abc','ded','12321','aaa','fghf'])

4

# Write a Python program to remove duplicates from a list.

In [61]:
samp_list = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
dupl_items=set()
uniq_items=[]

for i in samp_list:
    if i in uniq_items:
        dupl_items.add(i)
    else: uniq_items.append(i)
print('The duplicate items are:', dupl_items)
print('The unique items are:', uniq_items)

The duplicate items are: {40, 10, 20, 50}
The unique items are: [10, 20, 30, 50, 60, 40, 80]

# Write a Python program to check if all dictionaries in a list are empty or not.

In [62]:
my_list1 = [{},{},{}]
my_list2 = [{123,2345},{},{}]
print(all(not d for d in my_list1))
print(all(not d for d in my_list2))

True
False

# groupby() function

In [63]:
from itertools import groupby

In [64]:
ml=[1,2,1,2,2,2,1,1,2,3,4,5,5,4,5,6,7,8,8,9,9]
 
ml.sort() #to perform groupby function we need to short the values in consequtive manner
x=groupby(ml)
for i,j in x:
    print(i, ":", list(j))

1 : [1, 1, 1, 1]
2 : [2, 2, 2, 2, 2]
3 : [3]
4 : [4, 4]
5 : [5, 5, 5]
6 : [6]
7 : [7]
8 : [8, 8]
9 : [9, 9]

In [24]:
ml=[('a',1),('a',2),('a',3),('b',4),('b',5)]
for i,j in groupby(ml, key = lambda x:x[0]):
    print(i,':', list(j))

a : [('a', 1), ('a', 2), ('a', 3)]
b : [('b', 4), ('b', 5)]

In [26]:
ml=[('a',1),('a',2),('b',3),('a',4),('b',5)]
ml_sort=sorted(ml, key= lambda x:x[0])
for i,j in groupby(ml_sort, key=lambda x:x[0]):
    print(i,':', list(j))

a : [('a', 1), ('a', 2), ('a', 4)]
b : [('b', 3), ('b', 5)]

In [30]:
students=[
     {'marks':95,'grade':'A'},
     {'marks':75,'grade':'B'},
     {'marks':74,'grade':'B'},
     {'marks':65,'grade':'C'},
     {'marks':96,'grade':'A'},
     {'marks':55,'grade':'C'},
     {'marks':99,'grade':'A'},
     {'marks':78,'grade':'B'},
]

students_sort=sorted(students, key=lambda x:x['grade'])

for i,j in groupby(students_sort, key = lambda x:x['grade']):
    print('Catagory' ,i,':', list(j))

Catagory A : [{'marks': 95, 'grade': 'A'}, {'marks': 96, 'grade': 'A'}, {'marks': 99, 'grade': 'A'}]
Catagory B : [{'marks': 75, 'grade': 'B'}, {'marks': 74, 'grade': 'B'}, {'marks': 78, 'grade': 'B'}]
Catagory C : [{'marks': 65, 'grade': 'C'}, {'marks': 55, 'grade': 'C'}]

# Write a Python program to extend a list without append.

In [65]:
x = [103, 320, 430]
y = [403, 503, 603]
y[:0]=x
print(y)

[103, 320, 430, 403, 503, 603]

# Write a Python program to find the list in a list of lists whose sum of elements is the highest

In [77]:
num = [[1,2,3], [4,5,6], [7,8,9], [12,11,10]]
max_list=max(num, key= lambda x:sum(x))
print(max_list)
print(sum(max_list))

[12, 11, 10]
33

# Write a Python program to access dictionary keyâ€™s element by index.

In [23]:
num = {'stats': 80, 'math': 90, 'algorithm': 86}
print(list(num))
print(list(num)[0])

['stats', 'math', 'algorithm']
stats

# Write a Python program to iterate over two lists simultaneously.

In [24]:
?zip

In [25]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
print(zipped)
print(type(zipped))
print(list(zipped))

<zip object at 0x000002EB0001D440>
<class 'zip'>
[(1, 'a'), (2, 'b'), (3, 'c')]

In [37]:
numbers = {1, 2, 3}
letters = {'a', 'b', 'c'}
zipped = zip(numbers, letters)
print(list(zipped))

[(1, 'b'), (2, 'c'), (3, 'a')]

In [39]:
num = [10, 2, 3]
color = ['red', 'white', 'black']
for (a,b) in zip(num, color):
 print(a,':', b)

10 : red
2 : white
3 : black

In [38]:
num = {10, 2, 3}
color = {'red', 'white', 'black'}
for (a,b) in zip(num, color):
 print(a,':', b)

2 : red
10 : while
3 : black

# write a program to insert a string at the begining of every elements in a list

In [78]:
a = [100,123,345,567,789,890,98,876,543,678]
#enter customer before each element
print(['customer{}'.format(i) for i in a])

['customer100', 'customer123', 'customer345', 'customer567', 'customer789', 'customer890', 'customer98', 'customer876', 'customer543', 'customer678']

In [79]:
a = [100,123,345,567,789,890,98,876,543,678]
new_list=[]

for i in a:
    new_list.append('Customer{}'.format(i))
print(new_list)
print(a)

['Customer100', 'Customer123', 'Customer345', 'Customer567', 'Customer789', 'Customer890', 'Customer98', 'Customer876', 'Customer543', 'Customer678']
[100, 123, 345, 567, 789, 890, 98, 876, 543, 678]

# write a program to take two lists and print if they have at least one common member

In [83]:
#solution
def common_data(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
    return result
print("The result is:",common_data([121,222,332,432,12], [125,236,457,678,779]))
print("the result is:",common_data([1,2,3,4,5], [5,7,8,9]))

The result is: False
the result is: True

# compute all permutations in a list

In [86]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Create a list of length 3 and Create a list of length 4, For each element in the first list
# Display the corresponding index element of the second list

In [88]:
# Create a list of length 3:
list1 = ['data science', 'Blue mix', 'algorithms']
# Create a list of length 4:
list2 = ['Red hat', 'Blue mixx','Green gold','Orange Ai']


for i, j in zip(list1, list2):
 print(i, 'has the following options:', j)

data science has the following options: Red hat
Blue mix has the following options: Blue mixx
algorithms has the following options: Green gold

# display an example of Nested For Loops Using List Comprehension

In [89]:
list1 = ['data science', 'Blue mix', 'algorithms']
list2 = ['Red hat', 'Blue mixx','Green gold','Orange Ai']

In [90]:
[(i, j) for i in list1 for j in list2 ]

[('data science', 'Red hat'),
 ('data science', 'Blue mixx'),
 ('data science', 'Green gold'),
 ('data science', 'Orange Ai'),
 ('Blue mix', 'Red hat'),
 ('Blue mix', 'Blue mixx'),
 ('Blue mix', 'Green gold'),
 ('Blue mix', 'Orange Ai'),
 ('algorithms', 'Red hat'),
 ('algorithms', 'Blue mixx'),
 ('algorithms', 'Green gold'),
 ('algorithms', 'Orange Ai')]