In [1]:
a= 10

In [2]:
a

10

In [2]:
a = 20

In [3]:
a

20

In [4]:
type(a)

int

In [6]:
b = "sudh"

In [7]:
type(b)

str

In [8]:
c = 'sudh'

In [9]:
c

'sudh'

In [10]:
b

'sudh'

In [11]:
type(c)

str

In [12]:
a = 10 
b = 20
a+b

30

In [13]:
a*b

200

In [14]:
f = 45.67

In [15]:
type(f)

float

In [22]:
c = 7+8j

In [23]:
type(c)

complex

In [24]:
c

(7+8j)

In [25]:
c.real

7.0

In [26]:
c.imag

8.0

In [28]:
s = "sudh"

In [29]:
1 + 1

2

In [30]:
1 + "sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
"1" + "sudh" #concatenation operation

'1sudh'

In [1]:
str(1)+"sudh" #typecasting

'1sudh'

# String slicing operations

In [27]:
s = "Afser Jani Rabby"

In [28]:
s

'Afser Jani Rabby'

In [29]:
s[0]

'A'

In [30]:
s[8]

'n'

In [31]:
s[90] #Error because string index is out of range

IndexError: string index out of range

In [32]:
s[-2]

'b'

In [33]:
s[0:3] #exclude upperbound

'Afs'

In [34]:
s[5:90] #Will print from index 5 to till the end

' Jani Rabby'

In [35]:
s[0:10:2] #[start:end:jump]

'AsrJn'

In [36]:
s[::2] #start from 0, go till end with jump 2

'AsrJn ab'

In [37]:
s[::3]

'AeJiay'

In [38]:
s[0::2]

'AsrJn ab'

In [39]:
s[0::-1]

'A'

In [26]:
s[::-1]

'ybbaR inaJ resfA'

In [47]:
s[0:5:-1]

''

In [48]:
s[0:10:-1]

''

In [49]:
s[5:1:1]

''

In [21]:
s[5:1:-1]

'k hd'

In [51]:
s[::-1]

'ramuk hdus'

In [52]:
s

'sudh kumar'

In [53]:
s[5:1:-1]

'k hd'

In [54]:
s[5:-1:-1]

''

In [23]:
s= "dsfsafsafdsafdsa fdsa dsafdsa dsfdsa fsadfsa fdsafd safdsaf sadfsaf sadsaf safdsa safdsf dsfd safdsaf safdsaf sdf safsad"

In [24]:
s

'dsfsafsafdsafdsa fdsa dsafdsa dsfdsa fsadfsa fdsafd safdsaf sadfsaf sadsaf safdsa safdsf dsfd safdsaf safdsaf sdf safsad'

In [25]:
len(s)

120

In [26]:
1 + 1

2

In [27]:
"sudh" + " sudh "

'sudh sudh '

In [60]:
3* 10

30

In [28]:
"sudh " * 10

'sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh '

In [29]:
4/6

0.6666666666666666

In [30]:
"sudh" / 6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [64]:
b= True

In [65]:
type(b)

bool

In [66]:
v = False

In [67]:
type(v)

bool

In [68]:
True - True

0

In [69]:
True - False

1

In [70]:
True * True

1

In [71]:
True /True

1.0

In [72]:
True /False

ZeroDivisionError: division by zero

In [73]:
1/0

ZeroDivisionError: division by zero

In [33]:
import numpy as np 

np.asanyarray([0,9])/0

C:\Users\MIDLAND COMPUTER\AppData\Local\Temp\ipykernel_3752\1050514606.py:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([0,9])/0
C:\Users\MIDLAND COMPUTER\AppData\Local\Temp\ipykernel_3752\1050514606.py:3: RuntimeWarning: invalid value encountered in true_divide
  np.asanyarray([0,9])/0

array([nan, inf])

# LIST

In [37]:
sudh = [1,2,3,4,5]

In [38]:
a = 10

In [39]:
l = ["sudh" ,45,54,454,5,4, 45.67,67,5+7j,"fsdf","fdsfsf" , [1,2,3,3,4]]

In [40]:
type(l)

list

In [41]:
l[0]

'sudh'

In [42]:
l[100]

IndexError: list index out of range

In [43]:
l[-1]

[1, 2, 3, 3, 4]

In [44]:
l[0:4]

['sudh', 45, 54, 454]

In [45]:
l

['sudh',
 45,
 54,
 454,
 5,
 4,
 45.67,
 67,
 (5+7j),
 'fsdf',
 'fdsfsf',
 [1, 2, 3, 3, 4]]

In [46]:
l[::-1]

[[1, 2, 3, 3, 4],
 'fdsfsf',
 'fsdf',
 (5+7j),
 67,
 45.67,
 4,
 5,
 454,
 54,
 45,
 'sudh']

In [47]:
l[5:0:1]

[]

In [48]:
l[5:10 :-1]

[]

In [49]:
l[-2:-5:1]

[]

In [100]:
l[-2:-5:-1]

['fdsfsf', 'fsdf', (5+7j)]

In [101]:
l

['sudh',
 45,
 54,
 454,
 5,
 4,
 45.67,
 67,
 (5+7j),
 'fsdf',
 'fdsfsf',
 [1, 2, 3, 3, 4]]

In [104]:
l[0][::-1]

'hdus'

In [106]:
l[-1][::-1]

[4, 3, 3, 2, 1]

In [108]:
l[1][::-1]

TypeError: 'int' object is not subscriptable

In [4]:
a = [1,2,3,4]

In [5]:
a + list("sudh") #typecasting

[1, 2, 3, 4, 's', 'u', 'd', 'h']

In [6]:
"a" + ("sudh") #concatenation

'asudh'

In [7]:
a

[1, 2, 3, 4]

In [8]:
a*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(4, 20)) #upperbound is excluded

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
list(range(4 , 20 , 2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
list(range(-3,-13 , 1))

[]

In [13]:
list(range(-3,-13 , -1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [14]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
a = 10 
b = 20
a+b

30

In [16]:
a = input("enter the value of a ") #here the type of the input value will be string
b = int(input("enter value of b "))#Typecasting
print()

enter the value of a 33
enter value of b 22

In [17]:
a+b

TypeError: can only concatenate str (not "int") to str

In [19]:
a = input()
b = input()
print(type(a))
print(type(b))

44
ret
<class 'str'>
<class 'str'>

In [20]:
a = 10 
b = 20 
c = "sudh"
d = [1,2,3,4]

In [21]:
a,b,c,d = 12, 20,"sudh" , [1,2,3,4]

In [22]:
a = (1,2,3,4 , "sudh" , "dsfds" , 45.7)

In [23]:
l = [1,2,3,4,"sudh" , "dsfds" , 45.7]

In [24]:
type(a)

tuple

In [25]:
type(l)

list

In [28]:
a[0:5] #in tuple upperbound is included

(1, 2, 3, 4, 'sudh')

In [29]:
l[0:5]

[1, 2, 3, 4, 'sudh']

In [30]:
a[::-1]

(45.7, 'dsfds', 'sudh', 4, 3, 2, 1)

In [31]:
a

(1, 2, 3, 4, 'sudh', 'dsfds', 45.7)

In [32]:
l

[1, 2, 3, 4, 'sudh', 'dsfds', 45.7]

In [33]:
a

(1, 2, 3, 4, 'sudh', 'dsfds', 45.7)

In [34]:
l[0]  = "sudh"

In [35]:
l

['sudh', 2, 3, 4, 'sudh', 'dsfds', 45.7]

In [36]:
a

(1, 2, 3, 4, 'sudh', 'dsfds', 45.7)

In [39]:
a[0]

1

In [40]:
a[0] = "kumar" #'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [35]:
a

(1, 2, 3, 4, 'sudh', 'dsfds', 45.7)

In [36]:
a = (3,4,5,6)

In [45]:
s = "kumar"

In [46]:
s[0]

'k'

In [47]:
s[0] = "h" #'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [48]:
a(::-1)

SyntaxError: invalid syntax (1127766380.py, line 1)

In [49]:
a[::-1]

(45.7, 'dsfds', 'sudh', 4, 3, 2, 1)

In [50]:
s

'kumar'

In [51]:
s[5:1]

''

In [45]:
UserInput=[]
for n in range (3):
  value=input()
  UserInput.append(value)
print(UserInput)

ajr
rja
jar
['ajr', 'rja', 'jar']

In [182]:
a = 10 
if a :
    print("this is a value of a ")

this is a value of a

In [187]:
a = 10 
if a < 20:
    print("test")

test

In [183]:
a < 20

True

In [188]:
a = 10 
if a < 20:
    pass

In [189]:
a = int(input('Enter a number: '))
if a <= 20:
    print("True")
else:print('False')

Enter a number: 43
False

In [200]:
a = 10 
if a == 30 :
    print("this is my alternate statement")
elif type(a) == int: 
    print(" i am checking a type of var")
elif a < 20 :
    print("print form elif")
else :
    print("print this statement ")

 i am checking a type of var

In [197]:
type(a) == int

True

In [203]:
Discount = int(input())
if Discount == 50 :
    print("you can buy all the items listed in row one ")
elif Discount == 30 :
    print("you can buy all the items from row no 2 ")
elif Discount == 20 :
    print("send user to row no 3 ")
elif Discount > 10 :
    print("send him to 4th row ")
else :
    print("there is no item available ")

50
you can buy all the items listed in row one

In [205]:
income = int(input())
if income > 1000:
    print("you can get a platinum card ")
    if income > 2000:
        print("you will be able to get another facilities ")
        if income > 2200 :
            print("you will be able to get a discount in services ")
        elif income > 2300:
            print("you will be able to get air ticket ")
        else :
            print("there is no option available ")
    elif income < 1500:
        print("you wont be able to get another things ")
    else :
        print(" no option ")
    
elif income >800:
    print("you will be able to get gold card ")
else :
    print("you won't be able to get any card ")

1500
you can get a platinum card
 no option

In [206]:
val = int(input())
if val == 10 :print("this is 10 ")

10
this is 10

In [207]:
l = [2,3,4,5,6,1,2,3,3]
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [208]:
l[::]

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [212]:
for i in l :
    print(i)

2
3
4
5
6
1
2
3
3

In [216]:
l = ["sudh" , [1,2,3,4,5] , (2,3,4,5,6) , 56,67,6+7j , True , 45.67, "kumar"]
for i in l :
    print(i)

sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
kumar

In [217]:
for i in l :
    if type(i) == str :
        print(i)

sudh
kumar

In [218]:
l

['sudh',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'kumar']

In [220]:
for n  in l :
    if type(n)== list :
        print(n[::-1])

[5, 4, 3, 2, 1]

In [222]:
s = "sudh kumar"

for i in s :
    print(i + "1")

s1
u1
d1
h1
 1
k1
u1
m1
a1
r1

In [224]:
t = (3,4,5,6,7)
for i in t :
    print(i)

3
4
5
6
7

In [228]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [227]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [231]:
l = ["hello",[2,3,3],"str", 45.7, 45+i, True , (2,3,4)]
for n in l:
    if type(n) == list:
        print(n)

[2, 3, 3]

In [232]:
a = 103454
for i in str(a) :
    print(i)

1
0
3
4
5
4

In [238]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]
for i in li:
    if type(i) == list or  type(i) == tuple or  type(i) == str:
        print(i)
    else :
         print(" this is not possible ")

[1, 2, 3, 4]
Jhon
(1, 2, 3, 4)
 this is not possible
 this is not possible
 this is not possible
 this is not possible
Smith

In [244]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]

for i in li :
    #print(i)
    if type(i) == list or type(i) == tuple  :
        print(i)
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
(1, 2, 3, 4)
1
2
3
4

# Stars

In [12]:
n=5
for i in range(n):
    for j in range(n):
        print('*', end=' ')
    print( ) #for new line, here end is by default new line

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [20]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*', end="   ")
    print( )

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

In [16]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ', end="*")
    print( )

 *
 * *
 * * *
 * * * *
 * * * * *

In [23]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*", end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [26]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ", end=' ')
    for j in range(i+1):
        print(' ', end="*")
    print( )

           *
         * *
       * * *
     * * * *
   * * * * *

In [27]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ", end=' ')
    for j in range(i,n):
        print('*', end=" ")
    print( )

  * * * * *
    * * * *
      * * *
        * *
          *

In [40]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*", end=' ')
    for j in range(i):
        print(" ", end=' ')
    for j in range(i):
        print(" ", end=' ')
    for j in range(i,n):
        print('*', end=" ")
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [259]:
 n = int(input())
star = 1
space = n-1

for i in range(2*n+1):
    if i<n:
        for j in range(space):
            print("", end = " ")
        for j in range(star):
            print("*", end = " ")
        space = space-1
        star = star + 1
        print()
    elif i==n:
        space = space + 1 
        star = star - 1
    else:
        space = space + 1 
        star = star - 1
        for j in range(space):
            print("", end = " ")
        for j in range(star):
            print("*", end = " ")
        
        print()

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [261]:
l = [[1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
x = []
for i in l:
    if type(i)== list:
        for j in i:
            if j not in x:
                x.append(j)
                print("the count of ",j," is ",i.count(j))
            else:
                x.append(j)

the count of  1  is  1
the count of  2  is  2
the count of  3  is  2
the count of  4  is  1
the count of  5  is  1
the count of  8  is  2

In [264]:
First_Solutionn = int(input("Enter a no."))

for i in range(0,n):
    print(" "*(n-i),". "* i," "*(n-i))
for i in range(n-2,0,-1):
    print(" "*(n-i),". "* i," "*(n-i))

Enter a no.6

       .
      . .
     . . .
    . . . .
   . . . . .
  . . . . . .
   . . . . .
    . . . .
     . . .
      . .
       .

In [265]:
from collections import Counter
a=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
check={}
for i in a:
    if type(i)==list:
        b=Counter(i)
        print(b)

Counter({1: 2, 2: 2, 3: 2})
Counter({2: 3, 4: 1, 5: 1})
Counter({8: 2, 1: 1, 5: 1, 2: 1})

In [266]:
n=5
for i in range(n):
    for j in range(i+1):
        print(".", end="")
    print("")
    
for ii in range(n,0,-1):
    jj=ii
    for jj in range(jj-1,0,-1):
        print(".", end="")
    print("")

.
..
...
....
.....
....
...
..
.

In [18]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in l:
    if type(i)==list:
        for j in range(len(i)):
            if i.count(i[j])>1: 
                print("count of {} is {}".format(i[j],i.count(i[j])))

count of 1 is 2
count of 1 is 2
count of 2 is 2
count of 2 is 2
count of 3 is 2
count of 3 is 2
count of 2 is 3
count of 2 is 3
count of 2 is 3
count of 8 is 2
count of 8 is 2

In [269]:
lst = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
a = 1
for i in lst:
    for j in i:
        if i.count(j) >=2:
            print(" occurence of {} in list {} is {}".format(j,a,i.count(j)))
    a +=1

 occurence of 1 in list 1 is 2
 occurence of 1 in list 1 is 2
 occurence of 2 in list 1 is 2
 occurence of 2 in list 1 is 2
 occurence of 3 in list 1 is 2
 occurence of 3 in list 1 is 2
 occurence of 2 in list 2 is 3
 occurence of 2 in list 2 is 3
 occurence of 2 in list 2 is 3
 occurence of 8 in list 3 is 2
 occurence of 8 in list 3 is 2

In [270]:
s = "happy"
for i in range(len(s)):
    print(s[i] , i)

h 0
a 1
p 2
p 3
y 4

In [274]:
income=int(input ())

if income>1000:
    print ('you can get a platinum card')
elif income >800:
    print("you can get a gold card")
else :
    print("you will not get a card")

456464
you can get a platinum card
you can get a platinum card
you can get a platinum card

In [ ]:

if income>1000:
    print ('you can get a platinum card')

In [ ]:

if income>1000:
    print ('you can get a platinum card')

In [15]:
l = [7, "sudh"]
j=(1,2,3,4)
for i in range(len(l)) :
    if type(i)==int :
        l.insert(0,j)

In [16]:
l=[6,"aa"]
j=(1,2,3,4)
for i in l:
    l[0]=j
print(l)

[(1, 2, 3, 4), 'aa']

In [12]:
l

[(1, 2, 3, 4), 'aa']

In [288]:
j=(1,2,3,4)
l.insert(0,j)

AttributeError: 'NoneType' object has no attribute 'insert'

In [285]:
l

[(1, 2, 3, 4), 7, 'sudh']

In [299]:
l = [3,4,5,6,7,8]
l[3:1]

[]

In [300]:
l[3:-1]

[6, 7]

In [303]:
n=int(input())
for i in range(0,n):
    for j in range(n+1):
        print(".", end="")
    print("")
for i in range(n-2,-1):
     for j in range(n-1):
        print(".",end="")
     print("")

8
.........
.........
.........
.........
.........
.........
.........
.........

In [304]:
l = [7,'sudh']
j = (1,2,3,4)
for i in range(len(l)):
    if l[i]== int:
        l[i]=j
l

[7, 'sudh']

In [305]:
l = [7,'sudh']
j =(1,2,3,4)
for i in l:
    if type(i) == int:
        l[l.index(i)]=j
l

[(1, 2, 3, 4), 'sudh']

In [307]:
l = [7,'sudh']
j = (1,2,3,4)
for i in range(len(l)):
    if type(l[i])== int:
        l[i]=j
l

[(1, 2, 3, 4), 'sudh']

In [308]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
a=[]
for i in l:
    for j in i:
        if j not in a and i.count(i[j])>1:
            a.append(j)
            print("the count of",j,"is",i.count(j))
        else:
            a.append(j)

the count of 1 is 2
the count of 2 is 2
the count of 3 is 2

IndexError: list index out of range

In [309]:
for i in l:
    for j in i:
        if i.count(j)>1:
            print(j,"is",i.count(j),"times")

1 is 2 times
1 is 2 times
2 is 2 times
2 is 2 times
3 is 2 times
3 is 2 times
2 is 3 times
2 is 3 times
2 is 3 times
8 is 2 times
8 is 2 times

In [310]:
l

[[1, 1, 2, 2, 3, 3], [2, 4, 2, 2, 5], [1, 5, 8, 8, 2]]

In [311]:
l

[[1, 1, 2, 2, 3, 3], [2, 4, 2, 2, 5], [1, 5, 8, 8, 2]]

In [312]:
l1 = [1,2,3,45 , "sudh" , "kumar " , "fdsfsf"]
for i in range(len(l1)):
    if type(l1[i]) == str:
        print(l1[i] , i)

sudh 4
kumar  5
fdsfsf 6

In [314]:
l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]

for i in l:
    print(i)
    for j in i:
        print(j)

[1, 1, 2, 2, 3, 3]
1
1
2
2
3
3
[2, 4, 2, 2, 5]
2
4
2
2
5
[1, 5, 8, 8, 2]
1
5
8
8
2

In [317]:
Discount = int(input ())
if Discount == 50 :
    print ("you can buy all the items listed in row 1")
elif Discount == 30:
    print ("you can buy all the items from row 2")
elif Discount == 20:
    print ("send user to row 3")
elif Discount >10:
    print ("send user to row 4")
else :
    print ("there is no item")

456
send user to row 4

In [320]:
n = int(input())
for i in range(0,n):
    for t in range(i+1):
        print("!", end = "")
    print(" ")
for t in range(i-1):
        print("!", end = "")
        print(" ")

6
!
!!
!!!
!!!!
!!!!!
!!!!!!
!
!
!
!